.contentseperator{
	background-color: #cccccc;
	width: 86%;
	height: 2px;
	margin-left: 8%;
	float: center;
}

a:link{
	text-decoration: none;
}

a:visited{
	color: #4aaaa5;
}

.icon{
	width: 64px;
	height: 64px;
}

.sidebar .contentseperator{
	height: 1px;
	border-bottom: solid 20px white;
}

.profile_img{
	height: 100%;
	width: 20%;
	padding-right: 25px;
}
.mainparagraph{
	padding-right: 25px;
	padding-left: 25px;
	float: left;
}

.mainparagraph p:nth-of-type(n+2){
	border-left: solid 25px white;
}

.paragraphheader{
	margin-left: 25px;
}

h1{
	color: white;
}

h2{
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
}

h3{
	color: #4aaaa5;
}

.sidebar{
	border: solid 2px #666666;
	float: left;
	width: 270px;
	height: 175px;
	margin-top: 3%;
	margin-left: 10%;
	text-align: center;
	background-color: #ffffff;
}

.footer{
	float: left;
	width: 100%;
	height: 100px;
	text-align: center;

	vertical-align: middle;
	padding-top: 30px;
	border-top: solid 10px #4aaaa5;

	background-color: #666666;

}

.footer p{
	color: #cccccc;
}
.bodypart{
	float: left;
	width: 100%;
	height: 600px;
	padding-bottom: 100px;
	background-color: lightgrey;
}

.maincontent{
	border: solid 2px #666666;
	width: 650px;
	height: 400px;
	margin-top: 3%;
	margin-left: 20%;
	float: left;
	background-color: #ffffff;
}

.topbar{
	width: "100%";
	height: 75px;
	background-color: #ffffff;
	border-bottom : solid 2px #666666;
	padding-left: 250px;
	padding-top: 0.2px;
	float: top;
}

.name{
	background-color: #4aaaa5;
	width: 250px;
	height: 100%;
	text-align: center;
	float: left;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.toplink{
	float: right;
	padding-right: 20px;
	margin-right: 20px;
	border-right: solid 2px black;
	font-size: 65%;
	margin-top: 1%;
}

.toplink:nth-of-type(1){
	border: none;
	margin-right: 9%;
}

.nav{
	margin-right: 200px;
}

p{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}